:root {
    --bkgrd: rgb(248, 246, 243);
    --proj-bkgrd: rgb(230, 236, 245);
    --prpl: #dec1df;
    --prpl-dark: #c6a3c7;
    --acnt-teal: #3ccac5;
    --acnt-pink: #f8578a;
    --acnt-lime: #a6e54d;
    --acnt-orange: #fac439;
    --acnt-blue: #7291ff;
    --words: rgb(28, 28, 28);
}


@font-face {
    /* HEADER */
    font-family: Lemon Milk;
    src: url(./fonts/LemonMilkReg.otf);
}

@font-face {
    font-family: Gontserrat;
    src: url(./fonts/Gontserrat-Light.ttf);
}

#__next,
html,
* {
    padding: none;
    margin: none;
    font-family: Gontserrat;
    font-weight: 550;
}

html {
    overflow-x: hidden;
    transition: .2s ease;
}

html {
    width: 100%;
    height: 100vh;

}

body {
    background-color: var(--bkgrd);
    overflow-x: hidden;
    width: 100vw;
    margin-left: 0;
    font-size: 18px;
    cursor: default;
    height: 100vh;

}

.projects {
    font-size: 14px;
}

button {
    background-color: var(--bkgrd);
}

h1,
h2,
h3 {
    font-family: Lemon Milk;
    font-weight: 400;
    cursor: default;
}

h1 {
    font-size: 65px;
    transition: .3s ease;
    margin-bottom: 10px;
    /* margin-left: 10%; */
    margin-top: 40px;
}

h2 {
    margin-bottom: -15px;
    /* margin-left: -100px; */
}

h3 {
    /* margin-left: -100px; */
    font-size: 15px;
}

#about-and-subtitle {
    display: flex;
    margin: auto;
    width: 100%;
}

#subtitle {
    z-index: 1;
    width: 450px;
    margin-top: 30px;
    text-align: left;
}

.app-photos .app-img {
    border-radius: 31px;
    height: 400px;
}

.mobile-view .app-img {
    height: 400px;
}

.web-view .app-img {
    height: 300px;
}

.art-img {
    height: 400px;
    box-shadow: 20px 20px 1px var(--words);
    padding: 10px;
}

.art-card h3,
.art-card h4 {
    padding-left: 10px;
}

.art-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

/* #brainchip-demo{
    width: 400px;
} */
.video-crop {
  width: 245px;
  height: 500px;
  overflow: hidden;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-video {
  width: 121%;
  height: 121%;
  object-fit: cover;
  transform: translateY(-13px);
}

.video-align{
    display: flex;
    justify-content: center;
}

#portfolio-links button {
    border-radius: 30px;
    padding: 10px 18px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    border: 3px solid var(--words);
}

#portfolio-links nav button:hover {
    border: 3px dashed var(--words);
}

#portfolio-links nav {
    width: 100%;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* padding: 30px 10%; */
    padding-top: 20px;
    padding-bottom: 20px;
    /* margin-bottom: 30px; */
    /* padding-bottom: 100px; */
    transition: .3s ease;

}


#home-link button:hover,
#home-link.active-link button {
    background-color: var(--acnt-blue);
    transition: .2s ease;
}

#figma-link button:hover,
#figma-link.active-link button {
    background-color: var(--acnt-lime);
    transition: .2s ease;
    border: 2px solid rgba(0, 0, 0, 0);
}

#vscode-link button:hover,
#vscode-link.active-link button {
    background-color: var(--acnt-pink);
    transition: .2s ease;
}

#processing-link button:hover,
#processing-link.active-link button {
    background-color: var(--acnt-teal);
    transition: .2s ease;
}

#art-link button:hover,
#art-link.active-link button {
    background-color: var(--acnt-orange);
    transition: .2s ease;
}

#about p {
    width: 39vw;
    position: relative;
    margin-bottom: -55px;
    z-index: 0;
    padding-top: 15px;
    border: 3px solid var(--words);
}

#about {
    display: flex;
    flex-direction: column;
}

#p1,
#p2,
#p3 {
    padding-bottom: 45px;
}

#p1,
#p3 {

    border-radius: 0px 20px 0px 0px;
    padding-left: 50vw;
    margin-left: -50vw;
    padding-right: 20px;
}

#p1 {
    background-color: var(--acnt-lime);
}


#p3 {
    background-color: var(--acnt-teal);
}

#p2,
#p4 {
    padding-right: 50vw;
    margin-right: -50vw;
    padding-left: 30px;
    margin-left: -30px;
}

#p2 {
    border-radius: 20px 0px 0px 0px;
    background-color: var(--acnt-pink);
}

#p4 {
    background-color: var(--acnt-orange);
    border-radius: 20px 0px 0px 20px;
    padding-bottom: 15px;
}

#p2 a {
    color: var(--bkgrd);
}

#p2 a:hover {
    color: var(--prpl-dark);
}

#header {
    display: flex;
    background-color: var(--prpl);
    position: fixed;
    width: 100%;
    height: 5vh;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 2;
    justify-content: space-between;
    border-bottom: 3px dashed var(--words);
}

#nav-buttons {
    display: flex;
    gap: 20px;
    margin-right: 5%;
    transition: .3s ease;
}

#nav-buttons button {
    cursor: pointer;
}

#header h3 {
    align-self: center;
    cursor: default;
}

main {
    position: relative;
    top: 77.6px;
    background-color: var(--bkgrd);
    margin: 0 10%;
    transition: .3s ease;
}

#header button {
    padding: 10px 15px;
    font-weight: bold;
    border: 3px solid var(--words);
}

#header button:hover,
#header .active-link button {
    border: none;
    box-shadow: 7px 7px var(--words);
    border: 3px solid var(--words);
}

#contact-form {
    padding-top: 35px;
    padding-bottom: 35px;
}

footer {
    position: relative;
    bottom: -190px;
    width: 100vw;
    background-color: var(--prpl);
    border-top: 3px dashed var(--words);
}

#content,
#contact-form p,
#contact-form h3,
#contact-form a {
    margin: 0 10%;
    transition: .3s ease;
}

.art-card img {
    margin: 30px 0px;
}

.art-photos h3 {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 0;
    margin-left: 10px;
}

.art-photos {
    display: flex;
    justify-content: center;
}

.art-photos h4 {
    font-size: 12px;
    margin-top: 0;
    margin-left: 10px;
}

.page-title {
    margin: 40px 0px 20px 0px;
    font-size: 40px;
}

.project h3 {
    margin-bottom: -5px;
    font-size: 20px;
    margin-top: 0;
}

.projects a {
    border-radius: 30px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    border: 3px solid var(--words);
    text-decoration: none;
    color: var(--words);
    display: flex;
    align-items: center;
    gap: 10px;
}

.projects a:hover {
    border: 3px dashed var(--words);
}

#image-gallery a:hover,
#brand-redesign a:hover {
    background-color: var(--acnt-pink);
}

#emissions-app a:hover,
#pnc-redesign a:hover,
#music-app a:hover {
    background-color: var(--acnt-lime);
}

.title-and-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.project {
    background-color: var(--proj-bkgrd);
    border-radius: 20px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.text-and-content{
    display: flex;
    gap: 30px;
}
.project p {
    margin-top: 10px;
    max-width: 650px;
}

.page {
    margin: 0 10%;
}

@media(max-width:1300px) {

    h1 {
        font-size: 4.5vw;
    }
}

@media(max-width:1200px) {
    #portfolio-links nav {
        max-width: 600px;
        gap: 1rem;
        justify-content: left;
        transition: .3s ease;
    }
}

@media(max-width:1100px) {
    #content {
        margin: 0 5%;
    }

    .page {
        margin: 0;
    }
}

@media(max-width:850px) {
    #content {
        margin: 0;
    }

    #about-and-subtitle {
        flex-direction: column;
        align-items: center;
        transition: .3s ease;
    }

    #subtitle {
        background-color: var(--acnt-blue);
        border-radius: 20px 0px 0px 0px;
        padding-bottom: 45px;
        margin-bottom: -55px;
        position: relative;
        z-index: 0;
        border: 3px solid var(--words);
    }

    #about p,
    #subtitle {
        width: 60vw;
    }

    #p1,
    #p3 {
        padding-right: 30px;
        margin-right: -30px;
    }

    #p2,
    #p4,
    #subtitle {
        padding-right: 50vw;
        margin-right: -50vw;
        padding-left: 30px;
        margin-left: -30px;
    }

    h1 {
        font-size: 5.5vw;
        text-align: center;
        transition: .3s ease;
    }

    #portfolio-links nav {
        transition: .3s ease;
        padding: 0;
        margin-bottom: -10px;
        width: 95vw;
        margin-left: 5%;
    }

    #portfolio-links nav button {
        font-size: 12px;
        transition: .3s ease;
    }

    #nav-buttons {
        gap: 10px;
        transition: .3s ease;
    }

    .page {
        margin: -5%;
    }

    .web-view .app-img,
    #design-system {
        height: 36vw;
        width: auto;
        margin: auto;
    }

    .web-photos,
    .mobile-view,
    .web-view,
    .app-photos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media(max-width:650px) {

    #portfolio-links nav button,
    h1 {
        display: none;
    }

    #subtitle,
    #about p {
        width: 75vw;
        transition: .3s ease;
    }

    #content {
        margin-top: 20px;
    }

    .text-and-content{
        flex-direction: column;
    }
}
@media(max-width:500px) {
    .title-and-link{
        flex-direction: column;
        gap: 15px;
    }
    .project{
        gap: 10px;
    }
}