:root {
    --bkgrd: rgb(248, 246, 243);
    --prpl: #dec1df;
    --prpl-dark: #c6a3c7;
    --acnt-teal: #1bc0ba;
    --acnt-pink: #f94680;
    --acnt-lime: #c8db2a;
    --acnt-orange: #febd17;
    --acnt-blue: #7291ff;
    --words: rgb(28, 28, 28);
}


@font-face {
    /* HEADER */
    font-family: Lemon Milk;
    src: url(./fonts/LemonMilkReg.otf);
}

@font-face {
    font-family: Gontserrat;
    src: url(./fonts/Gontserrat-Light.ttf);
}

#__next,
html,
* {
    padding: none;
    margin: none;
    /* overflow-x: hidden; */
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: Gontserrat;
    font-weight: 550;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: var(--bkgrd);
    overflow-x: hidden;
    /* width: 100vw; */
    font-size: 18px;
    cursor: default;
}

button {
    background-color: var(--bkgrd);
}

h1,
h2,
h3 {
    font-family: Lemon Milk;
    font-weight: 400;
    cursor: default;
}

h1 {
    font-size: 65px;
    transition: 1s ease;
    margin-bottom: 10px;
    /* margin-left: 10%; */
    margin-top: 40px;
}

h2 {
    margin-bottom: -15px;
    /* margin-left: -100px; */
}

h3 {
    /* margin-left: -100px; */
    font-size: 15px;
}

#about-and-subtitle {
    display: flex;
    margin: auto;
    width: 100%;
}

#subtitle {
    z-index: 1;
    width: 450px;
    margin-top: 20px;
    text-align: left;
}

.app-photos .app-img {
    border-radius: 31px;
    height: 400px;
}

.mobile-view .app-img {
    height: 400px;
}

.web-view .app-img {
    height: 300px;
}

.art-img {
    height: 400px;
    box-shadow: 20px 20px 1px var(--words);
    padding: 10px;
}

.art-card h3,
.art-card h4 {
    padding-left: 10px;
}

.art-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

#portfolio-links button {
    border-radius: 30px;
    padding: 10px 18px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    border: 3px solid var(--words);
}

#portfolio-links nav button:hover {
    border: 3px dashed var(--words);
}

#portfolio-links nav {
    width: 100%;
    display: flex;
    /* gap: 16px; */
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 30px 10%; */
    padding-top: 20px;
    padding-bottom: 20px;
    /* margin-bottom: 30px; */
    /* padding-bottom: 100px; */
}

#home-link button:hover,
#home-link.active-link button {
    background-color: var(--acnt-blue);
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .2s ease;
}

#figma-link button:hover,
#figma-link.active-link button {
    background-color: var(--acnt-lime);
    transition: .2s ease;
    border: 2px solid rgba(0, 0, 0, 0);
}

#vscode-link button:hover,
#vscode-link.active-link button {
    background-color: var(--acnt-pink);
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .2s ease;
}

#processing-link button:hover,
#processing-link.active-link button {
    background-color: var(--acnt-teal);
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .2s ease;
}

#art-link button:hover,
#art-link.active-link button {
    background-color: var(--acnt-orange);
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .2s ease;
}

#about p {
    width: 39vw;
    /* margin: auto; */
    /* padding: 1.2rem 10vw 1.2rem 10vw; */
    position: relative;
    margin-bottom: -55px;
    z-index: 0;
    padding-top: 10px;
}

#about {
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    /* margin-top: 17px; */
}

#p1,
#p2,
#p3 {
    padding-bottom: 45px;
}

#p1 {
    background-color: var(--acnt-lime);
    border-radius: 0px 20px 0px 0px;
    padding-left: 50vw;
    margin-left: -50vw;
    padding-right: 20px;
    /* box-shadow: -50vw 0 0 0 var(--acnt-lime); */
}

#p2 {
    background-color: var(--acnt-pink);
    border-radius: 20px 0px 0px 0px;
    /* box-shadow: 50vw 0 0 0 var(--acnt-pink); */
    padding-right: 50vw;
    margin-right: -50vw;
    padding-left: 30px;
    margin-left: -30px;

}

#p3 {
    background-color: var(--acnt-teal);
    border-radius: 0px 20px 0px 0px;
    /* box-shadow: -50vw 0 0 0 var(--acnt-teal); */
    padding-left: 50vw;
    margin-left: -50vw;
    padding-right: 20px;

}

#p4 {
    background-color: var(--acnt-orange);
    border-radius: 20px 0px 0px 20px;
    /* box-shadow: 50vw 0 0 0 var(--acnt-orange); */
    padding-right: 50vw;
    margin-right: -50vw;
    padding-left: 30px;
    margin-left: -30px;
    padding-bottom: 20px;
}

#p2 a {
    color: var(--bkgrd);
}

#p2 a:hover {
    color: var(--prpl-dark);
}

#header {
    display: flex;
    background-color: var(--prpl);
    position: fixed;
    width: 100%;
    height: 5vh;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 2;
    justify-content: space-between;
    border-bottom: 3px dashed var(--words);
}

#nav-buttons {
    display: flex;
    gap: 20px;
    margin-right: 5%;
}

#nav-buttons button {
    cursor: pointer;
}

#header h3 {
    align-self: center;
    cursor: default;
}


main {
    position: relative;
    top: 77.6px;
    /* margin: 0% 10%; */
    background-color: var(--bkgrd);
    margin: 0 10%;
    transition: 1s ease;
}

#header button {
    border: none;
    padding: 10px 15px;
    font-weight: bold;
}

#header button:hover,
#header .active-link button {
    border: none;
    box-shadow: 7px 7px var(--words);
}



.me {
    border-radius: 10px;
}

#contact-form {
    /* background-color: #d28ed5; */
    padding-top: 40px;
    width: 100vw;
    padding-bottom: 50px;
    position: relative;
    /* bottom: 0; */
}

#contact-form p,
#contact-form h3,
#contact-form a {
    margin: 0 10%;
    /* background-color: #d28ed5; */
}

footer {
    position: relative;
    /* top: 100px; */
    /* bottom: 0; */
    width: 100vw;
    height: 17.9vh;
    background-color: var(--prpl);
    left: -7px;
    overflow: hidden;
    border-top: 3px dashed var(--words);
}

#content {
    height: 77vh;
    margin: 0 10%;
    transition: 1s ease;
}

.projects {
    padding-bottom: 100px;
}

/* @media (max-width: 900px) {
    main {
        margin: 5%;
        transition: 1s ease;
    }

    #about-and-image {
         flex-direction: column;
         transition: 1s ease;
     }

    .me {
        margin: auto;
    }

    h1 {
        font-size: 7vw;
        transition: 1s ease;
    }
} */


@media(max-width:1300px) {

    #portfolio-links nav button {
        font-size: 12px;
    }

    h1 {
        font-size: 4.5vw;
    }

}

@media(max-width:1200px) {
    #portfolio-links nav {
        max-width: 600px;
        gap: 1rem;
        justify-content: left;
        /* margin: auto; */
    }

    #portfolio-links nav button {
        font-size: 14px;
    }


}